<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Главная</title>
    <!-- Styles -->
    <link href="../styles/vendor.css" rel="stylesheet" media="all">
    <link href="../styles/app.css" rel="stylesheet" media="all">
    <!-- Javascript -->
    <script src="../scripts/plugins.js"></script>
    <script src="../scripts/app.js"></script>
</head>
<body>
    <header class="m_header">
        <div class="wrapper">
            <div class="logo">
                <a href="#"></a>
            </div>
    
            <div class="nav">
                <ul>
                    <li><a href="#"><span>О компании</span></a></li>
                    <li><a href="#"><span>Земельные <br>массивы</span></a></li>
                    <li><a href="#"><span>Прочие <br>земли</span></a></li>
                    <li><a href="#"><span>Обьекты <br>недвижимости</span></a></li>
                    <li><a href="#"><span>Партнёры</span></a></li>
                    <li><a href="#"><span>Контакты</span></a></li>
                </ul>
            </div>
    
            <div class="contacts">
                <div class="helper">
                    <div class="tel">
                        <span class="title">ОТДЕЛ ПРОДАЖ</span>
                        <span class="number">+7 (888) 555 55 55</span>
                    </div>
                    <div class="callback"><a href="#">Перезвонить мне</a></div>
                </div>
            </div>
    
            <div class="mobile-menu">
                <a href="#">
                    <span></span>
                </a>
            </div>
        </div>
    </header>
</body>
</html>